<navbar>
    <nav class="navbar"  style="background-color: #138A95;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/assets/logoSinLetrasBlanco.png" alt="Logo" width="55" height="50" class="d-inline-block align-text-top">
          </a>

            <div class="d-flex-justify-content-start">
                <ul class="nav">
                    <li class="nav-item">
                    <a class="nav-link baloo activeNavBarLink" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link baloo" href="#">Crear cuenta</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link baloo" href="#">Iniciar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
      </nav>
</navbar>