<navbar>
  <nav class="navbar"  style="background-color: #138A95;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/assets/logoSinLetrasBlanco.png" alt="Logo" width="55" height="50" class="d-inline-block align-text-top">
        </a>

          <div class="d-flex-justify-content-start">
              <ul class="nav">
                  <li class="nav-item">
                  <a class="nav-link baloo activeNavBarLink" href="#">Inicio</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link baloo" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Menú completo</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link baloo" href="#">Cerrar sesión
                  </a> 
                  </li>
              </ul>
          </div>
      </div>
    </nav>
</navbar>
<!-- empieza sidebar -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title balooTitle" id="offcanvasExampleLabel">El Refugio de Balu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="dropdown mt-3">
      <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          Adoptar
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Gatos</a></li>
        <li><a class="dropdown-item" href="#">Perros</a></li>
        <li><a class="dropdown-item" href="#">Otros animales</a></li>
      </ul>
    </div>
    <div class="mt-3">
      <button class="btn btn-outline-primary" type="button">
          Dar en adopción
      </button> 
    </div>
  </div>
</div>
<!-- termina -->