@font-face {
    font-family: "Baloo";
    src: url("../assets/Baloo-Regular.ttf") format("truetype");
}


body {
    font-family: "Baloo", sans-serif;
}

.position-right {
    position: absolute;
    right: 0;
}

.custom-scroll-style {
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: darkgray lightgray;
}

.custom-scroll-style::-webkit-scrollbar {
    width: 10px;
}

.custom-scroll-style::-webkit-scrollbar-thumb {
    background-color: darkgray;
}

.custom-scroll-style::-webkit-scrollbar-track {
    background-color: lightgray;
}


.input-select {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}