$theme-colors: (
  "light": #FFFFFF,
  "dark": #000000,
  "success": #53A93D,
  "danger": #A93D3D,
  "purple": #AD5CB5,
  "orange": #FFBC58,
  "dark-orange": #FF9900,
  "secondary-orange": #EE7240,
  "dark-secondary-orange": #E84E0F,
  "blue": #5EBFC5,
  "dark-blue": #118A95,
  "secondary-blue": #4DB8C0,
  "dark-secondary-blue": #00737E,
  "gray": #F2F2F2,
  "dark-gray": #E6E6E6,
  "dark-gray-input": #686868,
  "gender-male": #2F73FE,
  "gender-female": #F93A8C
);

.badge-success {
  background-color: #65C14E !important;
  color: #164B09 !important;
  font-size: 0.86rem !important;
  letter-spacing: 1px !important;
  border-radius: 120px !important;
  font-weight: 200 !important;
}

.badge-danger {
  background-color: #CF5757 !important;
  color: #6A1818 !important;
  font-size: 0.86rem !important;
  letter-spacing: 1px !important;
  border-radius: 120px !important;
  font-weight: 200 !important;
}

.badge-warning {
  background-color: #FFBC58 !important;
  color: #9F6C20 !important;
  font-size: 0.86rem !important;
  letter-spacing: 1px !important;
  border-radius: 120px !important;
  font-weight: 200 !important;
}

.badge-secondary {
  background-color: #E6E6E6 !important;
  color: #000000 !important;
  font-size: 0.86rem !important;
  letter-spacing: 1px;
  border-radius: 120px !important;
  font-weight: 200 !important;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  .page-link {
    color: #000000;
    margin-right: 2px;
    margin-left: 2px;
  }
  .page-link:hover {
    color: #00737E;
  }
  .page-item.active .page-link {
    background-color: #00737E;
    border-color: #00737E;
  }
  .page-item.active .page-link:hover {
    color: #FFFFFF;
    background-color: #00737E;
    border-color: #00737E;
  }
}



.header-homePage {
  background-color: map-get($theme-colors, "dark-orange");
  border-radius: 25px 0 0 25px;
}

.header-homePageBlue {
  background-color: map-get($theme-colors, "blue");
  border-radius: 0 25px 25px 0;
}

.title-headerPage {
  color: #FFFFFF;
}

.info-homepage {
  background-color: map-get($theme-colors, "blue");
  border-radius: 25px;
}

/* .gallery {
  display: flex;
  gap: 1rem;
  max-width: 80rem;
}

.carrusel {
  position: relative;
  left: 0px;
  width: 120rem;
  border-radius: 1.2rem;
  height: 20rem;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  flex: 0.25;
}

.carrusel img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.carrusel:hover {
  flex: 2;
  font-weight: bold;
  border-radius: 1.2rem;
}

.carrusel figcaption {
  position: absolute;
  text-align: center;
  height: 8rem;
  width: 100%;
  bottom: 0; 
  opacity: 0;
}

.textGalery {
  color: map-get($theme-colors, "dark-secondary-blue") !important;
  opacity: 2;
}

.carrusel:hover figcaption {
  background-color: orange !important;
  opacity: 0.75;
  border-radius: 0.8rem;
}


.carrusel figcaption h2.carrusel {
  color: map-get($theme-colors, "dark-secondary-blue") !important;
  font-size: 1.1rem;
  opacity: 1;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
}
 */
// Then import Bootstrap and BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';

.Banner {
  position: relative;
  left: 0px;
  height: 35rem;
  border-radius: 1.2rem;
  overflow: hidden;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 80rem;
  }

  .carrusel {
    position: relative;
    left: 0px;
    width: 120rem;
    border-radius: 0.2rem;
    height: 20rem;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    flex: 0.25;
  }

  .carrusel img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  .carrusel:hover {
    flex: 2;
    font-weight: bold;
    border-radius: 1rem;
  }

  .carrusel figcaption {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    height: 8rem;
    width: 100%;
    transform: translateY(40%) translateX(-50%);
    opacity: 0;
  }

  .textGalery {
    color: map-get($theme-colors, "dark-secondary-blue") !important;
    opacity: 2;
  }

  .carrusel:hover figcaption {
    background-color: orange !important;
    opacity: 0.75;
  }

  .carrusel figcaption h2.carrusel {
    color: map-get($theme-colors, "dark-secondary-blue") !important;
    font-size: 1.1rem;
    opacity: 1;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
  }
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 81rem;
    overflow-y: auto;

  }

  .carrusel {
    position: relative;
    left: 0px;
    width: 120rem;
    border-radius: 1.2rem;
    height: 20rem;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    flex: 0.25;
  }

  .carrusel img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  .carrusel:hover {
    flex: 2;
    font-weight: bold;
    border-radius: 1rem;
  }

  .carrusel figcaption {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    height: 8rem;
    width: 100%;
    transform: translateY(40%) translateX(-50%);
    opacity: 0;
  }

  .textGalery {
    color: map-get($theme-colors, "dark-secondary-blue") !important;
    opacity: 2;
  }

  .carrusel:hover figcaption {
    background-color: orange !important;
    opacity: 0.75;
  }

  .carrusel figcaption h2.carrusel {
    color: map-get($theme-colors, "dark-secondary-blue") !important;
    font-size: 1.1rem;
    opacity: 1;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
  }
}

.info_Banner {
  font-size: 1.6rem;
  background-color: map-get($theme-colors, "secondary-blue") !important;
  opacity: 0.8;
  width: 50%;
  height: 100%;
  margin: 0; /* Elimina el margen */
}

.letter_Banner{
  color: #fff !important;
  opacity: 1;
  
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 !important;
  border-radius: var(--bs-card-inner-border-radius);
}


.home{
  background-color: map-get($theme-colors ,"dark-orange"  );
  color: #FFFFFF;
}

.friends{
  background-color: map-get($theme-colors ,"dark-orange"  );
  color: #fff;
}

.carousel-item{
  background-color: map-get($theme-colors ,"dark-orange"  ) !important;
  color: #fff;
  
}
