$theme-colors: (
  "light": #FFFFFF,
  "dark": #000000,
  "success": #53A93D,
  "danger": #A93D3D,
  "purple": #AD5CB5,
  "card-content-orange": #ffc876,
  "card-header-orange": #ffb23f,
  "card-content-secondary-orange": #FE8757,
  "card-header-secondary-orange": #FB6528,
  "card-content-blue": #67ccd3,
  "card-header-blue": #4ca7ac,
  "orange": #FFBC58,
  "dark-orange": #FF9900,
  "secondary-orange": #EE7240,
  "dark-secondary-orange": #E84E0F,
  "blue": #5EBFC5,
  "dark-blue": #118A95,
  "secondary-blue": #4DB8C0,
  "dark-secondary-blue": #00737E,
  "gray": #F2F2F2,
  "dark-gray": #E6E6E6,
  "dark-gray-input": #686868,
  "gender-male": #2F73FE,
  "gender-female": #F93A8C
);

.badge-success {
  background-color: #65C14E !important;
  color: #164B09 !important;
  font-size: 0.86rem !important;
  letter-spacing: 1px !important;
  border-radius: 120px !important;
  font-weight: 200 !important;
}

.badge-danger {
  background-color: #CF5757 !important;
  color: #6A1818 !important;
  font-size: 0.86rem !important;
  letter-spacing: 1px !important;
  border-radius: 120px !important;
  font-weight: 200 !important;
}

.badge-warning {
  background-color: #FFBC58 !important;
  color: #9F6C20 !important;
  font-size: 0.86rem !important;
  letter-spacing: 1px !important;
  border-radius: 120px !important;
  font-weight: 200 !important;
}

.badge-secondary {
  background-color: #E6E6E6 !important;
  color: #000000 !important;
  font-size: 0.86rem !important;
  letter-spacing: 1px;
  border-radius: 120px !important;
  font-weight: 200 !important;
}

.badge-info {
  background-color: #34c4d1 !important;
  color: #034950 !important;
  font-size: 0.86rem !important;
  letter-spacing: 1px !important;
  border-radius: 120px !important;
  font-weight: 200 !important;

}

.badge-info-outline {
  background-color: rgba(255, 255, 255, 0);
  color: #118A95 !important;
  border: 2px solid #118A95 !important;
  font-size: 0.86rem !important;
  letter-spacing: 1px !important;
  border-radius: 120px !important;
  font-weight: 200 !important;
}

.badge-orange-outline {
  background-color: rgba(255, 255, 255, 0);
  color: #E84E0F !important;
  border: 2px solid #E84E0F !important;
  font-size: 0.86rem !important;
  letter-spacing: 1px !important;
  border-radius: 120px !important;
  font-weight: 200 !important;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  .page-link {
    color: #000000;
    margin-right: 2px;
    margin-left: 2px;
  }
  .page-link:hover {
    color: #00737E;
  }
  .page-item.active .page-link {
    background-color: #00737E;
    border-color: #00737E;
  }
  .page-item.active .page-link:hover {
    color: #FFFFFF;
    background-color: #00737E;
    border-color: #00737E;
  }
}



// Then import Bootstrap and BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';

.btn-outline-dark-orange-secondary {
  --bs-btn-color: #EE7240;
  --bs-btn-border-color: #EE7240;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #EE7240;
  --bs-btn-hover-border-color: #EE7240;
  --bs-btn-focus-shadow-rgb: 169, 61, 61;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #EE7240
  --bs-btn-active-border-color: #EE7240;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #EE7240;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #EE7240;
}

.carousel-caption {
  position: absolute;
  right: none; 
  bottom: none; 
  left: none; 
  padding-top: none; 
  padding-bottom: none; 
  color: #fff; 
  text-align: none;
}

.carousel{
  background-color: map-get($theme-colors , "dark-orange" );
  border-radius: 8px;
}

.bg-info {
  --bs-bg-opacity: 1;
  background-color: map-get($theme-colors, "dark-orange" )!important;
  
}

.btn-outline-dark-blue {
  --bs-btn-color: #118A95;
  --bs-btn-border-color: #118A95;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #118A95;
  --bs-btn-hover-border-color: #118A95;
  --bs-btn-focus-shadow-rgb: 169, 61, 61;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #118A95;
  --bs-btn-active-border-color:#118A95;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #118A95;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #118A95;
}
